*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.mb{
    margin-bottom: 10%;
}

.about{
    background-image: url(https://miro.medium.com/max/1400/1*U5qAdBQQEHaHlLdjr3so8A.jpeg);
    width: 100%;
    height: 100vh;
    background-size: cover;
}


/* Company */
.company{
    width: 85%;
    height: 100vh;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.company-content{
    display: flex;
    justify-content: space-between;

}

/*Company left*/
.company-left{
    width: 53%;
}

.company-left button{
    width: 240px;
    height:60px;
    border: 0;
    color: #fff;
    background-color: #f12639;
    font-size: 19px;
    margin: 30px 0 0 0px;
    font-weight: bold;
}

.company h2{
    color: #1f2749;
}

.company h1{
color: #f12639;
margin-bottom: 40px;
}

.company-left p{
    line-height: 1.8rem;
    font-size: 18px;
    word-spacing: 0.1rem;
    color: rgb(59, 58, 58);
}



/* Company right*/
.company-right{
position: relative;
}

.img-one{
    position: absolute;
    width: 370px;
    height: 370px;
    right: 0%;
    top: -25%;
}


.img-two{
    position: absolute;
    width: 370px;
    height: 370px;
    right: 0;
    margin-right: 100px;
    top: 30%;
}

/*WOrk*/
.work{
    width: 85%;
    height: 175vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}

.work-right{
    width: 45%;
}

.work-right p{
    font-size: 18px;
    line-height: 1.8rem;
    word-spacing: 0.1rem;
    color: rgb(59, 58, 58);
}
.right-title{
margin: 0 0 45px 0;
}

.right-title h1{
    color: #f12639;
}

.right-title h3{
    color: #1f2749;
}

.box{
    position: relative;
    width: 270px;
    height: 60vh;
    background-color: #1f2749;
    color: #fff;
    padding: 70px 40px 0px 40px;
    margin: 30px 30px 0px 0;
}

.box p{
    font-size: 15px;
    line-height: 1.7rem;
    padding-top: 30px;
}

#span{
    position: absolute;
    left: 22px;
    color: #979c9c;
    font-size: 40px;
    font-weight: bold;
    top: 10px;
}

.list-one{
    display: flex;
    justify-content: space-between;
}