*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.mb{
    margin-bottom: 10%;
}
/* Header - content*/
.spyre-careers{
    position: relative;
    background-image: url(https://images.pexels.com/photos/1181677/pexels-photo-1181677.jpeg?cs=srgb&dl=pexels-christina-morillo-1181677.jpg&fm=jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    }

     

    /*Job Descreption */
    ::-webkit-scrollbar {
        scroll-behavior: auto;
    }
    .job{
        position: relative;
        display: flex;
        max-width: 85%;
        margin: auto;
    }
    .job-left{
        width: 30%;
        height: 100vh;
    }

    .job-right{
        width: 70%;
        height: 530vh;
    }

    .content-one h1{
      font-family: Arial, Helvetica, sans-serif;
       padding: 50px 0;
       color: rgba(6, 4, 22, 0.842);;
    }

    .content-one img{
       width: 100%;
       margin-bottom: 50px;

    }

    .content-one p{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 19px;
        margin-bottom: 10%;
    }

    .content-two h1{
        font-family: Arial, Helvetica, sans-serif;
        padding: 50px 0;
        color: rgba(6, 4, 22, 0.842);
    }



    .content-two-list {
        padding-bottom: 50px;
        padding-left: 20px;
    }
    .content-two-list li{
        padding: 5px;
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .content-two p{
         font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 19px;
        margin-bottom: 10%;
    }

    .content-three {
     display: block;
    }

    .content-three h1{
        font-family: Arial, Helvetica, sans-serif;
        padding: 50px 0;
        color: rgba(6, 4, 22, 0.842);
    }

    #text {
        display: block;
        width: 550px;
        height: 50px;
        outline: none;
        padding: 10px;
        margin: 0 0 30px 0;
        border: 1px solid gray;
        font-family: Arial, Helvetica, sans-serif;
    }

    #area{
        display: block;
        width: 550px;
        height: 200px;
        outline: none;
        padding: 10px;
        margin: 0 0 30px 0;
        border: 1px solid gray;
        font-family: Arial, Helvetica, sans-serif;
    }

    #content-three-btn{
        display: block;
        width: 550px;
        height: 50px;
        outline: none;
        padding: 10px;
        margin: 0 0 30px 0;
        font-size: 20px;
        color: #fff;
        background-color: #f12639;
        border:0;
        font-family: Arial, Helvetica, sans-serif;
    }


    /* Gallary */
    .gallary{
        width: 100%;
        height: 440px;
        /*background: red;*/
        position: relative;
        padding: 5px 0;
    }
    
    
    .gallary .title{
        padding: 0 50px;
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: -40px;
    }

    .gallary .title h2{
      color: #f12639!important;
    }
    .gallary .title h1{
     color: #1f2749!important;
    }

    #span-gallary-one{
        position: absolute;
        left: 40px;
        font-size: 40px;
        margin: 240px 5px 0 5px;
        cursor: pointer;
        color: #fff;
         width: 65px;
         background-color: #f55454;
        height: 30px;
        display: inline-block;
        line-height: 19px;
        text-align: center;
        border-radius: 3px;
        z-index: 1;
    }

    #span-gallary-two{
        position: absolute;
        right: 40px;
        font-size: 40px;
        margin: 240px 5px 0 5px;
        cursor: pointer;
        color: #fff;
         width: 65px;
         background-color: #f55454;
        height: 30px;
        display: inline-block;
        line-height: 19px;
        text-align: center;
        border-radius: 3px;
        z-index: 1;
    }
    .head-gallary  #span-gallary-one:hover,#span-gallary-two:hover{
        background: red;
        
    }

    
    section{
        width: 98%;
        height: 500px;
        /*background: red;*/
        margin: auto;
        display: flex;
        align-items: center;
        overflow-x: auto;
    }
    section::-webkit-scrollbar{
        display: none;
    }
    section .product-gallary{
        min-width: 24%;
        height: 70%;
        background: whitesmoke;
        margin:  0 20px  0 0;
        border-radius: 20px;
        position: relative;
        left: 0;
        transition: 0.5s;

    }	
    
    .product-gallary img{
        width: 100%;
        height: 100%;
        background-size: cover;
    }

    .product-gallary p{
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(32, 31, 31);
        padding: 5px;
    }