*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.mb{
    margin-bottom: 10%;
}


html,body{
    overflow-x: hidden;
}
::-webkit-scrollbar{
    display: none;
}


/* careers*/
.careers-content{
    width: 100%;
    height: 100vh;
    background-image: url(https://images.pexels.com/photos/1181263/pexels-photo-1181263.jpeg?cs=srgb&dl=pexels-christina-morillo-1181263.jpg&fm=jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


/* Working */
.working h1{
font-family: Arial, Helvetica, sans-serif;
width: 48%;
padding-left: 120px;
}

.working p{
    width: 47%;
    padding: 40px 0 0 120px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    word-spacing: 0.4rem;
    line-height: 1.4rem;
    color:rgb(66, 65, 65) ;
}


.working-images{
    position: relative;
}
.car1{
    position: absolute;
    height: 400px;
    width: 400px;
    margin: 300px 0 0 -150px;
}

.car2-car3{
position: absolute;
margin-left: 300px;
}

.car2,.car3{
    display: block;
    height: 400px;
    width: 400px;
    margin: 100px 0;
}

.car4-car5{
    position: absolute;
    margin-left: 750px;
    margin-top: -220px;
    }
    
    .car4,.car5{
        display: block;
        height: 400px;
        width: 400px;
        margin: 100px 0;
    }
    
    .car6{
        position: absolute;
        right: 0;
        width: 400px;
        height: 400px;
        margin-right: -250px;
    }


    /* all-positions */
    .all-positions{
        width: 100%;
        height: 280vh;
        background-color:aliceblue;
    }

    .all-head{
        text-align: center;
        padding: 100px 0 0 0;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }

    .all-head p{
        font-size: 20px;
        color: #1f2749!important;
    }

    .all-head h1{
        color:#f12639!important;
    }

    .list-management-box1{
        margin: auto;
        max-width: 70%;
        display: flex;
        justify-content: space-between;
    }

    .list-one ul {
        margin-top:70px ;
    }
    .list-one ul li{
        padding: 35px 35px 35px 0;
        list-style: none;
    }

    .list-one ul li a{
        font-size: 22px;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        color: #000;
    }

    .list-two ul{
     margin-top:70px ;
    }

    .list-two ul li{
        padding: 35px 35px 35px 0;
        list-style: none;
    }

    .list-two ul li a{
        font-size: 22px;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        color: #000;
    }

    .list-two ul li a span{
        color: #1a1e2c!important;
    }

    .list-three ul{
        margin-top:70px ;
       }
   
       .list-three ul li{
           padding: 35px 35px 35px 0;
           list-style: none;
       }
   
       .list-three ul li a{
           font-size: 22px;
           text-decoration: none;
           font-family: Arial, Helvetica, sans-serif;
           color: #1a1e2c!important;
       }



       /* Subscribe*/
       .subscribe{
           position: relative;
           width: 100%;
           height: 85vh;
       }

       .sub-head{
           text-align: center;
           padding: 150px 0 80px 0;
           font-family: Arial, Helvetica, sans-serif;
       }

       .sub-head h2{
       color:#f12639!important;
       }

       .sub-head h1{
        color: #1f2749!important;
       }

       .subscribe p{
           text-align: center;
           font-size: 18px;
           font-family: Arial, Helvetica, sans-serif;
       }
       
        
       .sub-input{
           text-align: center;
           padding: 30px 0 100px 0;
       }

       .sub-input input{
        width: 400px;
        height: 50px;
        margin-right: 22px;
        font-size: 17px;
        padding: 10px;
        outline: none;
       }

       .sub-input button{
           width: 200px;
           height: 50px;
           border: 0;
           margin-left: 22px;
           font-size: 18px;
           font-family: Arial, Helvetica, sans-serif;
           color: #fff;
           background-color: #f12639!important;
       }