*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.mb{
    margin-bottom: 10%;
}
.faq{
    background-image: url(https://images.pexels.com/photos/3821385/pexels-photo-3821385.jpeg?cs=srgb&dl=pexels-cleyder-duque-3821385.jpg&fm=jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

#input-faq{
    width: 450px;
    height: 65px;
    outline: none;
    padding: 10px;
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
    border: 0;
}

.spyre-content #input-faq,span{
    margin-left: -25px;
}
.spyre-content span{
position: absolute;
width: 60px;
height: 65px;
background-color: red;
padding: none;
}

.spyre-content span > i{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 25px;
}


/* Boxes */ 
.boxes{
    width: 84%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.box{
    position: relative;
    width: 260PX;
    height: 160PX;
    background-color: #f12639;
    color: #fff;
}

.box-content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 100%;
    font-size: 18px;
}

.box-content i{
    font-size: 35px;
}
.box-content h3{
    font-family: Arial, Helvetica, sans-serif;
    padding: 12px;
}


.box-2{
    position: relative;
    width: 260PX;
    height: 160PX;
    background-color: #fff;
    color: #f12639;
    border: 1px solid rgb(201, 194, 194);
}
.box-3{
    position: relative;
    width: 260PX;
    height: 160PX;
    background-color: #fff;
    color: #f12639;
    border: 1px solid rgb(201, 194, 194);
}
.box-4{
    position: relative;
    width: 260PX;
    height: 160PX;
    background-color: #fff;
    color: #f12639;
    border: 1px solid rgb(201, 194, 194);
}

.box-2:hover{
    background-color: #f12639;
    color: #fff;
}

.box-3:hover{
    background-color: #f12639;
    color: #fff;
}

.box-4:hover{
    background-color: #f12639;
    color: #fff;
}


/*Text*/
.text{
    width: 60%;
    margin: auto;
    height: 150vh;
}

.text h2{
    padding:0 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #1f2749;
}

.text #par-one {
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 25px;
    display: none;
}


.text #par-two {
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 25px;
    display: none;
}

.text #par-three {
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 25px;
    display: none;
}

.text #par-four {
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 25px;
    display: none;
}


.text #par-five {
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 25px;
    display: none;
}

.text #par-six {
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 25px;
    display: none;
}

.text #par-seven {
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 25px;
    display: none;
}

.text #par-eight {
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 25px;
    display: none;
}

.text #par-nine {
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 25px;
    display: none;
}

.text #par-ten {
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 25px;
    display: none;
}
.text{
    cursor: pointer;
}

hr{
    margin: 30px;
}


/*ASK*/
.ask{
    width: 100%;
    height: 170px;
    background-color: rgb(215, 215, 226);
}
.ask-content{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}


.ask-content p {
    max-width: 70%;
    margin-top: 5%;
    font-size: 18px;
    line-height: 1.5rem;
    color: rgb(8, 8, 8);

}
.ask-content button{
    margin-top: 5%;
    background-color: #1f2749!important;
    width: 250px;
    height: 55px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    border: 0;
}


.ask-content i{
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}
